@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Montserrat', sans-serif;
}

:global html,
:global body,
:global div#root {
  height: 100%;
  /* Making `font-size` responsive in respect to screen size */
  /* @see https://css-tricks.com/books/volume-i/scale-typography-screen-size/ */
  font-size: calc(12px + (24 - 12) * ((100vw - 375px) / (5120 - 375)));
  line-height: calc(1.5em + (2 - 1.5) * ((100vw - 375px) / (5120 - 375)));
}